<main>
  <div class="row" style="text-align: center">
    <form
      action=""
      [formGroup]="searchForm"
      (keydown)="keyDownFunction($event)"
    >
      <input
        formControlName="city"
        type="search"
        id="search"
        placeholder="Search by city name"
      />
    </form>
  </div>
  <div class="row" id="weather">
    <div>
      <img
        [src]="
          'https://openweathermap.org/img/wn/' +
          json?.weather[0]?.icon +
          '@2x.png'
        "
        alt=""
      />
    </div>
    <div>
      <h2>{{ json?.main?.temp }} ℃</h2>
      <h4>{{ json?.weather[0]?.main }}</h4>
    </div>
  </div>
</main>
